.control {
  --shadow-color: #e0e0e0;
  position: relative;
  isolation: isolate;
  border: unset;
  background-color: unset;
  font: inherit;
  color: inherit;
  line-height: 0.875;
  outline: 2px solid #0000;
  outline-offset: 2px;
  border-radius: 10px;
  padding: 8px 12px;
  box-shadow: 0 10px 24px -8px var(--shadow-color);
  transform: translateY(-1px);
  transition: transform 0.2s ease-in-out, outline-color 0.1s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.control:focus {
  outline-color: var(--shadow-color);
  box-shadow: 0 0 0 #0000;
}

.control:active {
  transform: translateY(0);
  box-shadow: 0 0 0 #0000;
}

.control::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  box-shadow: 1px 1px 1px var(--shadow-color);
  transition: box-shadow 0.2s ease-in-out;
}

.control:active::before {
  box-shadow: 0 0 0 #0000;
}

@media only screen and (prefers-color-scheme: dark) {
  .control {
    --shadow-color: #424242;
  }
}
