:root,
body {
  height: 100%;
  min-height: 768px;
  box-sizing: border-box;
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
  background-color: #fafafa;
}

* {
  box-sizing: inherit;
  margin: unset;
  padding: unset;
}

#root {
  --spacing: 1.25em;
  isolation: isolate;
  min-height: 100%;
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: stretch;
}

#root > * {
  width: calc(100% - (var(--spacing) * 2));
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (prefers-color-scheme: dark) {
  :root,
  body {
    color: #fafafa;
    background-color: #212121;
  }
}
